<table>

<th>Список співробітників, що не працюють в даній лікарні:</th>
<tr>
  <th>Прізвище: </th>
  <th>Посада: </th>
  <th>Дії: </th>
</tr>

<% @without_hospitals.each do |w| %>
<tr>
  <td><%= link_to w.last_name, employee_path(w) %></td>
  <td><%= w.position %></td>
  <td><%= link_to "Найняти співробітника", save_to_habtm_path(@hospital, w.id), method: :put%></td>
</tr>
<% end %>

<th>Список співробітників лікарні:</th>
<tr>
  <th>Прізвище: </th>
  <th>Посада: </th>
  <th>Дії: </th>
</tr>

<% @hospital.employees.each do |employee| %>
  <tr>
    <td><%= link_to employee.last_name, employee_path(employee) %></td>
    <td><%= employee.position %></td>
    <td><%= link_to "Видалити зі списку", delete_habtm_path(@hospital, employee.id), method: :put %></td>
  </tr>
<% end %>

</table>
</body>
